body {
  text-align: center;
  background-image: url(https://wallpapercosmos.com/w/full/2/5/1/32538-3840x2160-desktop-4k-ibiza-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
}

.top {
padding: 0px 100px;
}

#welcome {
  width: 400px;
  height: 100px;
  display: flex;
  margin: 50px auto;
  font-size: 25px;
  -webkit-text-stroke: 2px rgba(255, 246, 113, 0.705);
  background-color: yellowgreen;
  justify-content: center;
  align-items: center;
  border-radius: 8px; 
}

.general-info {
  font-weight: 600;
  background-color: rgb(132, 206, 255);
  /* text-shadow: 0 0 4px #fff; */
    text-align: left;
    display: inline-block;
    width: 600px;
    border-radius: 10px;
    padding: 30px;
    margin-top: 0px;
  }

  #general-info {
    font-weight: 600;
    background-color: rgb(132, 206, 255);
    width: 200px;
    margin: 50px auto 0 auto;
    padding: 10px 10px 0px 10px;
    border-radius: 10px 10px 0px 0px;
  }

  #top5 {
    font-weight: 600;
    background-color: rgb(132, 206, 255);
    width: 200px;
    margin: 50px auto 0 auto;
    padding: 10px 10px 0px 10px;
    border-radius: 10px 10px 0px 0px;
  }

  .top5 {
    font-weight: 600;
    background-color: rgb(132, 206, 255);
    /* text-shadow: 0 0 4px #fff; */
      text-align: left;
      display: inline-block;
      width: 600px;
      border-radius: 10px;
      padding: 30px;
      margin-top: 0px;
  }

  p {
    font-weight: 600;
    padding: 0px 100px;
    background-color: yellowgreen;
    border-radius: 8px;
    margin: 0px auto 20px auto;
    width: 800px;
    padding: 30px;
  }

  h2 {
    font-weight: 600;
    background-color: yellowgreen;
    width: 200px;
    margin: 50px auto 0 auto;
    padding: 10px 10px 0px 10px;
    border-radius: 10px 10px 0px 0px;
  }

  h3 {
    background-color: white;
    border-radius: 8px;
    padding: 3px;
    box-shadow: 0px 0px 5px black;
    border: 2px solid black;
  }